::selection{
  background: #d2f0ff;
}
.light-body .app {
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
  /* border: transparent; */
  padding-bottom: 50px;
  padding-left: 10px;
  /*padding: 90%;*/
  margin: 0 auto;
  background: transparent;
}
.dark-body .app {
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
  /* border: transparent; */
  padding-bottom: 50px;
  padding-left: 10px;
  /*padding: 90%;*/
  margin: 0 auto;
  background: #252525;
}
.dark-body .more-info {
  color: #d0d0d0;
  font-weight: lighter;
}
.dark-body .title{
  color: #bababa;
}
.dark-body .bt-feedback {
  width: 300px;
  padding: 10px;
  margin: 15px;
  /*margin-top: 40px;*/
  border: transparent;
  background: #333333;
  transition: all 0.25s;
  border-radius: 18px;
  color: #dcdcdc;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dark-body .bt-feedback:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}
.light-body .more-info {
  color: gray;
  font-weight: lighter;
}

.light-body .bt-feedback {
  width: 300px;
  padding: 10px;
  margin: 15px;
  /*margin-top: 40px;*/
  border: transparent;
  background: #F4F4F6;
  transition: all 0.25s;
  border-radius: 18px;
  color: #6d6d6d;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.light-body .bt-feedback:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}

.buttons {
  margin-top: 100px;
}

.dark-body .none-more{
  color: #d2d2d2;
}
.light-body .none-more{
  color:#808080;
}

/*单个应用模块*/
.dark-body .item {
  width: 300px;
  height: 100px;
  float: left;
  transition: all 0.25s;
  margin: 15px;
  color: #dcdcdc;
  border-radius: 18px;
  background: #333333;
  background: linear-gradient(145deg, #313030, #332f2f);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow:  11px 11px 22px #1c1c1c,
  -11px -11px 22px #2e2e2e;

  overflow: hidden;
  z-index: 0;
}
.light-body .item {
  width: 300px;
  height: 100px;
  float: left;
  transition: all 0.25s;
  margin: 15px;
  color: #6d6d6d;
  border-radius: 18px;
  background-color: #F4F4F6;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  box-shadow:  5px 5px 10px #e0e0e0,
  -5px -5px 10px #ffffff;

  overflow: hidden;
  z-index: 0;
}
.dark-body .item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}
.light-body .item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}
.dark-body .item:active{
  border-radius: 32px;
  background: linear-gradient(145deg, #212121, #282828);
  box-shadow:  11px 11px 22px #1c1c1c,
  -11px -11px 22px #2e2e2e;
}
.light-body .item:active{
  border-radius: 32px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  5px 5px 10px #e0e0e0,
  -5px -5px 10px #ffffff;
}
.show{
  overflow: hidden;
}

.icon-bg {
  width: 300px;
  height: 100px;
  float: left;
  filter: blur(25px) opacity(2%);
  transform: scale(3);
  position: relative;
  top: -100px;
  transition-property: all linear;
  z-index: -1;
  visibility: hidden;
}
.item:hover .icon-bg{
  pointer-events: none;
  filter: blur(25px) opacity(20%);
  transform: scale(3);
  visibility: visible;
}

.icon-m:hover {
  transform: rotate(666turn);
  transition-delay: 3s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(.34,0,.84,1);
}

/*应用图标*/
.icon-m {
  float: left;
  width: 26%;
  height: 77%;
  background: transparent;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s;
}
.list {
  max-width: 1500px;
  text-align: center;
}
.dark-body .app-name{
  text-align: left;
  margin: 20px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #f1ecec;
  padding-right: 10px;
}
.light-body .app-name{
  text-align: left;
  margin: 20px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #494949;
  padding-right: 10px;
}
.dark-body .app-more{
  text-align: left;
  font-size:10px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #999999;
  padding-right: 10px;
}
.light-body .app-more{
  text-align: left;
  font-size:10px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #808080;
  padding-right: 10px;
}

